#pcs-notify{
	float:right;
	background-color: #54adff;
	background-color: rgba(31, 147, 255, 0.80);
	background-image: url('/XposurePublicIncludes/img/pcs-notify-small.png');
	background-size: auto 24px;
	background-repeat: no-repeat;
	background-position: center;
	width: 50px;
	height: 30px;
	border: 1px solid #7bc9ff;
	border-bottom: none;
	margin: 4px 0 0 20px;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.backgroundsize #pcs-notify{
	background-image: url('/XposurePublicIncludes/img/pcs-notify.png');
}

#pcs-notify-float{
	position: absolute;
	top: 35px;
	right: 10px;
	z-index: 100;
	color: #fff;
	font-size: 14px;
	line-height: 23px;
	font-weight: 600;
	background-color: #54adff;
	background-color: rgba(31, 147, 255, 0.8);
	border: 1px solid #7bc9ff;
	border-top: none;
    border-radius: 0 0 4px 4px;
    padding: 3px 15px;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    cursor: pointer;
    max-width: 300px;
    max-height: 30px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    transition: max-height 0.2s ease-out, max-width 0.2s ease-out, background-color 0.2s ease-out, padding 0.2s ease-out;
    overflow: hidden;
    white-space: normal;
}

#pcs-notify-float a{
	text-decoration: none;
}

#pcs-notify-float{
	
	transform-origin: 100% 0%;
    animation-timing-function: ease-in-out;
	animation-duration: 11000ms;
	animation-name: pcs-pulse;
	animation-delay: 5s;
	animation-iteration-count: 2;
}

@keyframes pcs-pulse{
    0% { transform: scale(1); }
    8% { transform: scale(1); }
    9% { transform: scale(.995); }
    11% { transform: scale(1.055); }
    14% { transform: scale(.995); }
    15% { transform: scale(1); }
}

#pcs-notify-float.pcs-float-animate{
	
	transform-origin: 100% 0%;
    animation-timing-function: cubic-bezier(.4,.13,.4,1.36);
	animation-duration: 650ms;
	animation-name: pcs-popinout;
	animation-delay: .5s;
	animation-iteration-count: 1;
}

@keyframes pcs-popinout {
    0% { transform: scale(.85); }
    30% { transform: scale(1.25); }
    100% { transform: scale(1); }
}

#pcs-notify-float:hover{
	padding: 5px 18px 5px 18px;
	animation-name: none;
}

#pcs-notify-float.expanded{
	background-color: rgba(25, 141, 249, 0.90);
	padding: 10px 15px;
	cursor: default;
	max-width: 330px;
	max-height: 350px;
	display: block !important;
	animation-name: none;
	font-weight: normal;
}

#pcs-notify-float.expanded .pcs-notify-heading{
	display: none;
}

.pcs-notify-content{
	display: none;
}

#pcs-notify-float.expanded .pcs-notify-content{
	display: block;
}

.pcs-notify-content p{
	margin: 0 0 5px 0;
	width: 300px;
}

#pcs-begin-setup-btn{
	float: right;
	line-height: 24px;
	text-align: right;
	padding-right: 24px;
	font-size: 16px;
	background-image: url('/XposurePublicIncludes/img/arrow-right-white-small.png');
	background-size: 18px;
	background-repeat: no-repeat;
	background-position: center right;
	outline:0;
	color: #fff;
}

.backgroundsize #pcs-begin-setup-btn{
	background-image: url('/XposurePublicIncludes/img/arrow-right-white.png');
}

#pcs-close-notify-btn{
	float: left;
	width: 24px;
	height: 24px;
	background-image: url('/XposurePublicIncludes/img/pcs-close-white-small.png');
	background-size: 14px;
	background-repeat: no-repeat;
	background-position: center left;
	outline:0;
}

.backgroundsize #pcs-close-notify-btn{
	background-image: url('/XposurePublicIncludes/img/close-white.png');
}

#pcs-dialog-mask{
	position:absolute;
	height:0;
	visibility: hidden;
	background-color: rgba(0,0,0,0);
	transition: background-color 0.5s ease-out;
	z-index: 1001;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

#pcs-dialog-mask.showing{
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 100%;
	visibility: visible;
	background-color: rgba(0,0,0,.60);
}

#pcs-dialog-container{
	position:absolute;
	height:0;
	width: 700px;
	opacity: 0;
	transition: opacity 0.4s ease-out .1s, transform 0.4s ease-out .1s;
	background: #eee;
	border-radius: 6px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	border: 1px solid #333;	
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    top: 80px;
    -webkit-transform: translate3d(0,-150px,0);
	transform: translate3d(0,-150px,0);
    overflow: hidden;
}

.boxshadow #pcs-dialog-container{
	border: 0;
}

#pcs-dialog-mask.showing #pcs-dialog-container{
	height: 500px;
	-webkit-transform: translate3d(0,0px,0);
	transform: translate3d(0,0px,0);
	opacity: 1;	
}

.pcs-header-footer{
	font-size: 18px;
	line-height: 40px;
	margin: 0;
	font-weight: normal;
	text-align: center;
	width: 100%;
	position: absolute;
}

#pcs-header{
	color: #555;
	top: 0;
}

#pcs-footer{
	color: #aaa;
	bottom: 0;
}

.pcs-dialog{
	background-color: #fff;
	position: absolute;
	top: 40px;
	bottom: 40px;
	width: 100%;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 800;
    -webkit-transform-style: preserve-3d;
    backface-visibility: hidden;
	perspective: 800;
    transform-style: preserve-3d;
    z-index:100;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.pcs-dialog.current{
	z-index: 101;
}

.pcs-dialog-btn{
	position: absolute;
	color: #2E9BFF;
    text-decoration: none;
    line-height: 40px;
    font-size: 18px;
    outline: 0;
    background-repeat: no-repeat;
}

#pcs-cancel-btn{
    bottom: 0px;
    left: 13px;   
}

#pcs-next-btn{
    top: 0px;
    right: 13px;
    background-image: url('/XposurePublicIncludes/img/arrow-right-blue-small.png');
	background-size: 18px;
	background-position: center right;
	padding-right: 24px;
}

.backgroundsize #pcs-next-btn{
	background-image: url('/XposurePublicIncludes/img/arrow-right-blue.png');
}

#pcs-back-btn{
    top: 0px;
    left: 13px;
    background-image: url('/XposurePublicIncludes/img/arrow-left-blue-small.png');
	background-size: 18px;
	background-position: center left;
	padding-left: 24px;
}

.backgroundsize #pcs-back-btn{
	background-image: url('/XposurePublicIncludes/img/arrow-left-blue.png');
}

#pcs-map{
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 500px;
	position: absolute;
	border: 1px solid #fff;
    border-right: 0;
    border-left: 0;
}

.pcs-instructions{
	width: 160px;
	padding: 20px;
	color: #999;
	font-size: 14px;
	line-height: 21px;
}

#pcs-search-criteria{
	background-image: url('/XposurePublicIncludes/img/pcs-criteria-bg.jpg');
	text-align: center;
	padding-top: 5px;
}

#pcs-search-criteria p{
	color: #fff;
	font-size: 18px;
	text-align: center;
	text-shadow: 0px 1px 3px rgba(0,0,0,.90);
	filter: progid:DXImageTransform.Microsoft.Glow(Color=#3e3e3e, Strength=3);	
	margin: 30px 0;
	padding: 0;
}

/*** Sliders ***/

#pcs-search-criteria .irs{
	width: 630px;
	margin: 30px auto;
	
}

#pcs-search-criteria .irs-from,#pcs-search-criteria .irs-to,#pcs-search-criteria  .irs-single{
	background: #2E9BFF;
	box-shadow: 0px 1px 3px rgba(0,0,0,.40);
}

#pcs-search-criteria .irs-min, #pcs-search-criteria .irs-max{
	background: #fff;
}

#pcs-search-criteria .irs-bar {
    border-top: 1px solid #59AFFB;
    border-bottom: 1px solid #3EA3FD;
    background: #2E9BFF;
    background: linear-gradient(to bottom, #96ceff 0%,#0087ff 100%);
}

#pcs-search-criteria .irs-line{
	border: 1px solid #fff;
}

#pcs-dialog-container .stepper-container{
	display: inline-block;	
}

#pcs-dialog-container ul.stepper{
	display: inline-block;
	margin: 0 10px;
	padding: 0;
	vertical-align: middle;
}

#pcs-dialog-container ul.stepper li{
	list-style-type: none;
	float: left;
	margin: 0;
	padding: 0;
	width: 40px;
	text-align: center;
	font-size: 14px;
	line-height: 40px;
	color: #2E9BFF;
	border: 1px solid #2E9BFF;
	border-left: none;
	background: #fff;
	cursor: pointer;
}

#pcs-dialog-container ul.stepper li:first-child{
	border-left: 1px solid #2E9BFF;
	border-radius: 6px 0 0 6px;
}

#pcs-dialog-container ul.stepper li:last-child{
	border-radius: 0 6px 6px 0;
}

#pcs-dialog-container ul.stepper li.selected{
	background: #2E9BFF;
	color: #fff;	
}

#pcs-search-criteria .stepper-label{	
	color: #fff;
	font-size: 18px;
	text-shadow: 0px 1px 3px rgba(0,0,0,.85);
	filter: progid:DXImageTransform.Microsoft.Glow(Color=#3e3e3e, Strength=3);
	line-height: 42px;
	display: inline-block;
	margin: 20px 0 0 0;
}

#pcs-signup{
	padding: 25px 0 0 0;
	background-image: url('/XposurePublicIncludes/img/pcs-signup-bg.jpg');
	text-align: center;
}

#pcs-signup .input-group{
	margin: 30px 0;
	width: 480px;
	text-align: right;
}

#pcs-signup label{
	font-size: 18px;
	line-height: 40px;
	text-shadow: 0px 1px 5px rgba(0,0,0,.95);
	filter: progid:DXImageTransform.Microsoft.Glow(Color=#3e3e3e, Strength=3);
	color: #fff;
	margin-right: 5px;
}

#pcs-signup input{
	display: inline;
	font-size: 18px;
	padding: 0 10px;
	background: #fff;
	background: rgba(255,255,255,0.80);
	color: #000;
	border: 1px solid #fff;
	margin: 0;
	-webkit-appearance: none;
    border-radius: 0;
    width: 224px;
    height: 40px;
}

#pcs-signup p{
	font-size: 14px;
	line-height: 18px;
	text-shadow: 0px 1px 5px rgba(0,0,0,.95);
	filter: progid:DXImageTransform.Microsoft.Glow(Color=#3e3e3e, Strength=3);
	color: #fff;
	margin: 0 50px;
	text-align: left;
}

#pcs-done-btn, #pcs-agree-btn{
	position: static;
	display: inline-block;
	margin: 0 0 24px 0;
	padding: 0 27px 0 10px;
	background-color: #fff;
	background-color: rgba(255,255,255,0.90);
	background-image: url('/XposurePublicIncludes/img/pcs-check-blue-small.png');
	background-size: 22px;
	background-position: 100% 46%;
	border-radius: 5px;
	border: 1px solid #fff;
}

.backgroundsize #pcs-done-btn, .backgroundsize #pcs-agree-btn{
	background-image: url('/XposurePublicIncludes/img/pcs-check-blue.png');	
}

#pcs-signup-message{
	display: none;
	background: #fff;
	background: rgba(255,255,255,.85);
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #fff;
	color: #333;
	width: 450px;
	line-height: 24px;
	position: absolute;
	bottom: 65px;
	left: 125px;
	z-index: 101;
	text-align: center;
}

#pcs-dialog-container.showing-step-1 #pcs-signup-message, #pcs-dialog-container.showing-step-2 #pcs-signup-message{
	display: none !important;
}

#pcs-signup-message a{
	position: static;
	display: inline-block;
	margin: 6px 0 0 0;
	background-color: #fff;
	background-position: 100% 50%;
	border: 1px solid #2E9BFF;
	border-radius: 5px;
}

#pcs-retry-btn{
	background-image: url('/XposurePublicIncludes/img/pcs-refresh-blue-small.png');	
	background-size: 30px;
	padding: 0 36px 0 10px;
}

.backgroundsize #pcs-retry-btn{
	background-image: url('/XposurePublicIncludes/img/pcs-refresh-blue.png');
}

#pcs-done-btn.waiting, #pcs-retry-btn.waiting, #pcs-agree-btn.waiting{
	
	opacity: .9;
	color: #999;
	background-image: url('/XposurePublicIncludes/img/ajax-loader.gif');
	background-position: 96% 50%;
	background-size: 25px;
	padding-right: 32px;
	border-color: #999;
	cursor: default;
}

#pcs-close-btn{
	background-image: url('/XposurePublicIncludes/img/pcs-close-blue-small.png');
	background-size: 24px;
	padding: 0 29px 0 10px;
}

.backgroundsize #pcs-close-btn{
	background-image: url('/XposurePublicIncludes/img/pcs-close-blue.png');	
}

#pcs-signup-message .error{
	font-weight: bold;
	color: #666;	
}

#pcs-agreement{
	padding: 0;
	background-image: url('/XposurePublicIncludes/img/pcs-agree-bg.jpg');
	text-align: center;
}

#agreement-container{
	
	background: rgba(255,255,255,.90);
    margin: 20px 50px 0 50px;
    height: 318px;
    padding: 0 15px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    font-size: .9rem;
    line-height: 1.4;
    color: #444;
    text-align: left;
    border: 1px solid #fff;
    transition: opacity 1s;
    opacity: 1;
}

#agreement-container ol{
	list-style-type: lower-alpha;
}

#pcs-agree-btn{
	margin-top: 20px;
	background-color: rgba(255,255,255,0.93);
}

/*** Used for non-listing sites like the xposure client site or embedded 3rd party site ***/

.pcs-non-listing-site #pcs-search-criteria {
	padding-top: 0;	
}

.pcs-non-listing-site #pcs-search-criteria p{
	margin: 25px 0;	
}

.pcs-non-listing-site #pcs-search-criteria .irs {
    margin: 25px auto;
}

.pcs-non-listing-site #pcs-search-criteria .property-label {
    color: #fff;
    font-size: 18px;
    text-shadow: 0px 1px 3px rgba(0,0,0,.85);
    filter: progid:DXImageTransform.Microsoft.Glow(Color=#3e3e3e, Strength=3);
    line-height: 18px;
    display: inline-block;
    margin: 0 10px 0 0;
}

.pcs-non-listing-site #pcs-search-criteria select{
	font-size: 16px;
	padding: 2px;
	background: #fff;
	border-color: #2e9bff;
	color: #555;
	border-radius: 5px;
}

/*** animation ***/

.pcs-in, .pcs-out {
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-duration: 500ms;
	animation-timing-function: ease-out;
	animation-duration: 500ms;
}

.pcs-slide.pcs-in {
	-webkit-animation-name: pcs-slideinfromright;
	animation-name: pcs-slideinfromright;
}

.pcs-slide.pcs-out {
	-webkit-animation-name: pcs-slideouttoleft;
	animation-name: pcs-slideouttoleft;
}

.pcs-slide.pcs-in.pcs-reverse {
	-webkit-animation-name: pcs-slideinfromleft;
	animation-name: pcs-slideinfromleft;
}

.pcs-slide.pcs-out.pcs-reverse {
	-webkit-animation-name: pcs-slideouttoright;
	animation-name: pcs-slideouttoright;
}

@-webkit-keyframes pcs-slideinfromright {
    0% { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(0); }
}

@-webkit-keyframes pcs-slideinfromleft {
    0% { -webkit-transform: translateX(-100%); }
    100% { -webkit-transform: translateX(0); }
}

@-webkit-keyframes pcs-slideouttoleft {
    0% { -webkit-transform: translateX(0); }
    100% { -webkit-transform: translateX(-100%); }
}

@-webkit-keyframes pcs-slideouttoright {
    0% { -webkit-transform: translateX(0); }
    100% { -webkit-transform: translateX(100%); }
}

@keyframes pcs-slideinfromright {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0); }
}

@keyframes pcs-slideinfromleft {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}

@keyframes pcs-slideouttoleft {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

@keyframes pcs-slideouttoright {
    0% { transform: translateX(0); }
    100% { transform: translateX(100%); }
}

/******* responsive *********/

@media (max-width: 830px){

	#pcs-notify-float {
		right: 5px;
		display: none;
	}
}

@media (max-width: 720px) and (orientation:portrait){

	.pcs-showing .header-inner {
		font-size: 15px;
	}
	#pcs-notify {
		margin: 4px 0 0 8px;
	}
	#pcs-notify-float {
		right: 5px;
		display: none;
	}
	#pcs-notify-float.expanded {
		background-color: rgba(25, 141, 249, 0.95);
	}
	#pcs-dialog-container {
		width: auto;
		border-radius: 0;
	}
	#pcs-dialog-mask.showing #pcs-dialog-container {
		height: 530px;
		-webkit-transform: translate3d(0, 70px, 0);
		transform: translate3d(0, 70px, 0);
	}
	.no-csstransforms3d #pcs-dialog-mask.showing #pcs-dialog-container {
		top: 70px;
	}
	#pcs-map {
		top: 0px;
		bottom: 139px;
		right: 0px;
		left: 0px;
		width: auto;
		position: absolute;
		border-bottom: 0;
	}
	.pcs-instructions {
		width: auto;
		padding: 10px;
		line-height: 20px;
		position: absolute;
		bottom: 0px;
	}
	#pcs-search-criteria {
		padding-top: 0;
	}
	#pcs-search-criteria .irs {
		width: auto;
		margin: 25px 5px;
	}
	#pcs-dialog-container ul.stepper {
		margin: 0 40px 0 10px;
	}
	#pcs-signup p {
		margin: 0 30px;
	}
	#pcs-signup .input-group {
		width: 360px;
	}
	#pcs-signup-message {
		width: auto;
		margin: 0 10px;
	}

	/*** non-listing sites ***/
	.pcs-non-listing-site #pcs-search-criteria p {
		margin: 18px 0;
	}
}